


<div class="row span8">
    <p>Seznam kategorij</p>

	<div ng-repeat="category in categories | filter:{parent: '!'}" class="row">
		<category-display category="category" categories="categories" selected="selected"></category-display>
	</div>

	<ul>
		<p>Dodaj kategorijo:</p>
		Starš: <input type="text" placeholder="Ime straša če obstaja" ng-model="category.parent"/><br>
		Kategorija: <input type="text" placeholder="Ime kategorije" ng-model="category.name"/><br>
		<button type="button" class="btn btn-default" ng-disabled="!canAddCategory()" ng-click="addCategory()">Dodaj</button>
	</ul>
<div>