


<div width="800px">
	<div ng-hide="category">
	    <p>Seznam kategorij</p>
		<ol ng-repeat="category in categories | filter:{parent: '!'}" class="row">
				<p> <a ng-href="#/worksheets?category={{category.name}}">{{category.name}}</a></p>					
				<ul ng-repeat="child in category.children">
						<li><a ng-href="#/worksheets?category={{child}}">{{child}}</a></li>
				</ul>
			</li>
		</ol>
	</div>

	<div>
		<p>Dodaj kategorijo:</p>
		Starš: <input type="text" placeholder="Ime straša če obstaja" ng-model="parentName"/><br>
		Kategorija: <input type="text" placeholder="Ime kategorije" ng-model="categoryName"/><br>
		<button class="btn" ng-disabled="!canAddCategory()" ng-click="addCategory()">Dodaj</button>
	</div>
<div>