
<h1 contenteditable="{{editMode}}" ng-model="worksheet.ime">{{worksheet.ime}}</h1>
<div class="english">Slovensko:</div>  Angleško:
<div ng-show="resuj"> Rešenih {{finishedCount()}} od {{words.length}} besed.</div>
<div class="line" ng-repeat="pair in words">
	<div><div class="english">{{ dictionary[pair.word] }}</div>
	<worddisplay finished="finished[$index]" pair="pair" visible="visible" edit="editMode" resuj="resuj"></worddisplay>
	<a href="" ng-show="editMode" ng-click="remove($index)"><i class="icon-remove clickable"></i></a>
	 </div>
</div>

<div ng-show="finishedCount() == words.length">
	<h1>Čestitke, uspelo ti je!</h1>
</div>

<br><br>
<div ng-hide="printMode || resuj">
	<div ng-show="editMode">
		Angleško: <input type="text" ng-model="eng"/><br>
		Slovensko: <input type="text" ng-model="slovene"/><br>
		<button ng-click="addWord()">Dodaj</button>

		<div class="search" ng-repeat="w in results" ng-click="fill(w[0], w[1])">
			{{w[0]}} - {{w[1]}}
		</div>

		<br><br>
	</div>



<button ng-click="toggleAnswers()">Answers</button>
<button ng-click="print()" ng-disabled="editMode">Print</button>
<button ng-click="save()" ng-disabled="!editMode">Shrani</button>
<button ng-disabled="editMode" ng-click="edit()">Urejaj</button>
<button ng-click="resujButton()" ng-disabled="editMode">Resuj</button>
</div>



