<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3>Pozor!</h3>
        </div>
        <div class="modal-body">
            Ste prepričani da želite izbrisati delovni list?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
</script>


<input type="text" ng-model="worksheet.ime" placeholder="Naslov delovnega lista" ng-show="editMode"/>
<h1 ng-show="!editMode">{{worksheet.ime}}</h1>
<!-- <div class="english">Slovensko:</div>  Angleško: -->
<div ng-show="resuj"> Rešenih {{finishedCount()}} od {{worksheet.words.length}} besed.</div>
<div class="line" ng-repeat="pair in worksheet.words">
	<div><div class="english">{{ pair.slovene }}</div>
	<worddisplay finished="finished[$index]" pair="pair" visible="visible" edit="editMode" resuj="resuj"></worddisplay>
	<a href="" ng-show="editMode" ng-click="remove($index)"><i class="icon-remove clickable"></i></a>
	 </div>
</div>

<div ng-show="isFinished()">
	<h1>Čestitke, uspelo ti je!</h1>
</div>

<br/><br/>
<div ng-hide="printMode || resuj">
	<div ng-show="editMode">
		Angleško: <input type="text" ng-model="word.english"/><br>
		Slovensko: <input type="text" ng-model="word.slovene"/><br>
		<button class="btn" ng-disabled="!canAdd()" ng-click="addWord()">Dodaj</button>

		<div class="search" ng-repeat="w in results" ng-click="selectWord(w)">
			{{w.english}} - {{w.slovene}}
		</div>

		<br/>
		<br/>
	</div>

	<div ng-show="editMode">
		<div ng-show="!!worksheet.categories">
		<p>Kategorije:</p>
			<ul>
				<li ng-repeat="category in worksheet.categories">{{ category.name }}
					<a href="" ng-show="editMode" ng-click="removeCategory(category)"><i class="icon-remove clickable"></i></a>
				</li>
			<ul>
		</div>

		<input type="text" placeholder="Kategorija" ng-model="category">
		<button class="btn" ng-click="addCategory()">Add category</button>
	</div>



	<button class="btn" ng-click="toggleAnswers()">Answers</button>
	<button class="btn" ng-click="print()" ng-disabled="editMode">Print</button>
	<button class="btn" ng-click="save()" ng-disabled="!editMode">Shrani</button>
	<button class="btn" ng-disabled="editMode" ng-click="edit()">Urejaj</button>
	<button class="btn" ng-click="resujButton()" ng-disabled="editMode">Resuj</button>
	<button class="btn" ng-click="delete()" ng-disabled="!editMode">Izbrisi</button>
</div>



