
<div width="800px">
	<div ng-hide="category">
	    <p>Seznam vseh delovnih listov</p>
		<ul ng-repeat="category in categories | filter:{parent: '!'}" class="row" ng-show="filterWorksheets(category.name).length > 0">
			{{ category.name }}
			<div ng-repeat="worksheet in filterWorksheets(category.name)">
				<a ng-href="#/worksheets/{{worksheet.id}}">{{ worksheet.ime }}</a>
			</div>			
			<ul ng-repeat="child in category.children" ng-show="filterWorksheets(child).length > 0">
				{{ child }}
				<div ng-repeat="worksheet in filterWorksheets(child)">
					<a ng-href="#/worksheets/{{worksheet.id}}">{{ worksheet.ime }}</a>
				</div>	
			</ul>
		</ul>

	    <ul class="row" ng-show="filterWorksheets('').length > 0">
	    	Ostali:
		    <div ng-repeat="worksheet in filterWorksheets('')">
				<a ng-href="#/worksheets/{{worksheet.id}}">{{ worksheet.ime }}</a>
			</div>
		</ul>
	</div>

	<div ng-show="category">
	    <p>Delovni listi za skupino: {{ category }}</p>
		<ul>
		    <li ng-repeat="worksheet in filterWorksheets(category)">
				<a ng-href="#/worksheets/{{worksheet.id}}">{{ worksheet.ime }}</a>
			</li>
		</ul>
	</div>
<div>