


<div width="800px">
    <p>Seznam kategorij</p>
	<ol ng-repeat="category in categories | filter:{parent: '!'}" class="row">
			<p> <a ng-href="#/worksheets?category={{category.name}}">{{category.name}}</a></p>					
			<ul ng-repeat="child in categories | filter:{parent_id: category.id}">
					<li><a ng-href="#/worksheets?category={{child.name}}">{{child.name}}</a></li>
			</ul>
		</li>
	</ol>

	<div>
		<p>Dodaj kategorijo:</p>
		Starš: <input type="text" placeholder="Ime straša če obstaja" ng-model="category.parent"/><br>
		Kategorija: <input type="text" placeholder="Ime kategorije" ng-model="category.name"/><br>
		<button class="btn" ng-disabled="!canAddCategory()" ng-click="addCategory()">Dodaj</button>
	</div>
<div>