
<div width="800px">
	<div ng-hide="category">
	    <p>Seznam vseh delovnih listov</p>
		<ul ng-repeat="category in categories | filter:{parent: '!'}" class="row">
			<category-display category="category" worksheets="worksheets" categories="categories"></category-display>
		</ul>

	    <div class="row" ng-show="filterWorksheets('').length > 0">
	    	Ostali:
		    <div ng-repeat="worksheet in filterWorksheets('')">
				<li><a ng-href="#/worksheets/{{worksheet.id}}">{{ worksheet.ime }}</a></li>
			</div>
		</div>
	</div>

	<div ng-show="category">
		<category-display category="category" worksheets="worksheets" categories="categories"></category-display>
	</div>
<div>