
<h1 contenteditable="true" ng-model="worksheet.ime">{{worksheet.ime}}</h1>

<div ng-repeat="pair in words">
	<div><div class="english">{{ dictionary[pair.word] }}</div>
	<worddisplay pair="pair" visible="visible"></worddisplay>
	<a href="" ng-click="remove($index)"><i class="icon-remove clickable"></i></a>
	 </div>
</div>


<div ng-hide="printMode">
<input type="text" ng-model="eng"/>
<input type="text" ng-model="slovene"/>
<button ng-click="addWord()">Dodaj</button>

<div class="search" ng-repeat="w in results" ng-click="fill(w[0], w[1])">
	{{w[0]}} - {{w[1]}}
</div>

<button ng-click="toggleAnswers()">Answers</button>
<button ng-click="print()">Print</button>
<button ng-click="save()">Shrani</button>
</div>



