<div ng-if="!!worksheets">
	<li>Kategorija: {{ category.name }}</li>
	<ul>
		<div ng-repeat="worksheet in filterWorksheets(category.name)">
			<li class="list-item"><a ng-href="#/worksheets/{{worksheet.id}}">{{ worksheet.ime }}</a></li>
		</div>
		<div ng-repeat="child in categories | filter:{parent_id: category.id}" ng-show="filterWorksheets(child.name).length > 0">
			<category-display category="child" worksheets="worksheets" categories="categories"></category-display>
		</div>	
	</ul>
</div>

<div ng-if="!worksheets">
	<li><a ng-href="#/worksheets?category={{category.id}}">{{category.name}}</a></li>
	<ul ng-repeat="child in categories | filter:{parent_id: category.id}">
		<category-display category="child" categories="categories"></category-display>
	</ul>	
</div>
