<div class="word" ng-repeat="w in pair.english track by $index">
	<span class="glyphicon glyphicon-arrow-down" ng-if="showArrow($index)"></span>
	<span class="glyphicon" ng-if="!showArrow($index)"></span>
	<div class="char" ng-if="skip(w)">{{w}}</div>
	<div class="char" ng-if="!skip(w)" ng-class="'char'+mapping[w] +' ' + classForWord($index)">{{displayWord($index)}}</div>
</div>
<span class="glyphicon glyphicon-ok-circle" style="font-size:30px; vertical-align:bottom" ng-show="finished"></span>
<div class="bottom">
<input id="input{{num}}" type="text" ng-show="resuj && !finished" ng-model="input"></input>
</div> 