<div ng-if="!!worksheets" class="mb-4">
	<li class="font-semibold text-gray-800 mb-2">Kategorija: {{ category.name }}</li>
	<ul class="ml-6">
		<div ng-repeat="worksheet in filterWorksheets(category.name)">
			<li class="list-disc mb-1"><a ng-href="#/worksheets/{{worksheet.id}}" class="text-blue-600 hover:text-blue-800 hover:underline">{{ worksheet.ime }}</a></li>
		</div>
		<div ng-repeat="child in categories | filter:{parent_id: category.id}" ng-show="filterWorksheets(child.name).length > 0">
			<category-display category="child" worksheets="worksheets" categories="categories"></category-display>
		</div>	
	</ul>
</div>

<div ng-if="!worksheets" class="mb-2">
	<li class="list-disc"><a ng-href="#/worksheets?category={{category.id}}" class="text-blue-600 hover:text-blue-800 hover:underline font-medium">{{category.name}}</a></li>
	<ul ng-repeat="child in categories | filter:{parent_id: category.id}" class="ml-6">
		<category-display category="child" categories="categories"></category-display>
	</ul>	
</div>
